<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% extends "appentrega3/padre.html" %}

    {% load static %}
    
    {% block contenidoQueCambia %}
        <h1 style="color: brown;">¡Acerca de mi!</h1>

            <p>Soy Eleonora Ahina Sosa, tengo 23 años y vivo en Córdoba Capital.</p>
            <p>Actualmente, estoy cursando la carrera de Ingeniería en Sistemas de Información en la Universidad Tecnológica Nacional (UTN)</p>            
        

    {% endblock %}

</body>
</html>